* {
  box-sizing: border-box;
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(126, 138, 164, 0.2);
  }
  ::-webkit-scrollbar-track {
    background: #fff;
    border: none;
  }
  ::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
  }
}

body,
html {
  width: 100%;
  height: 100%;
}

:root {
  --pango-editor-theme: #2d5afa;
  --pango-editor-theme-hover: #5175f4;
  --pango-editor-theme-press: #1d39c4;
  --pango-editor-theme-table-head: #eaeefe;
  --pango-editor-theme-back-select: #f3f5ff;
  --pango-editor--prompt-fail-color: #ec0000;
  --pango-editor--background: #f2f4f6;
  --pango-editor--input-border-color: #c9c9c9;
  --pango-editor--input-font-color: #000000;
  --pango-editor--input-placeholder-color: #999999;
  --pango-editor--input-border-hover-color: #999999;
  --pango-editor--input-border-active-color: var(--pango-editor-theme-press);
  --pango-editor--input-border-active-shadow-color: var(
    --pango-editor-theme-back-select
  );
  --pango-editor--input-icon-color: #7e89a4;
  --pango-editor--input-icon-active-color: var(--pango-editor-theme-press);
  --pango-editor--input-border-validate-color: var(
    --pango-editor--prompt-fail-color
  );
  --pango-editor--input-border-validate-shadow-color: #f8ebeb;
  --pango-editor--border-input-color: #e9e9e9;
  --pango-editor--font-sub-title-color: #333333;
  --pango-editor--input-font-disabled-color: #999999;
  --pango-editor--fs12px: 12px;
  --pango-editor--fs13px: 13px;
  --pango-editor--fs14px: 14px;
  --pango-editor--fs15px: 15px;
  --pango-editor--fs16px: 16px;
  --pango-editor--fs17px: 17px;
  --pango-editor--fs18px: 18px;
  --plyr-captions-background: transparent;
  --plyr-captions-text-color: rgb(0, 175, 255);
  --plyr-video-control-background-hover: rgba(0, 0, 0, 0.5);
  --plyr-font-size-large: 24px;
  font-size: 16px;
  --COLOR-THEME: default;
  --COLOR-NORMAL: #2d5afa;
  --COLOR-NORMAL-RGB: 45, 90, 250;
  --COLOR-HOVER: #5175f4;
  --COLOR-BTN-TABLE-HEADER-BG: #eaeefe;
  --COLOR-PRESS: #1d39c4;
  --COLOR-ACTIVE-BG: #f3f5ff;
  --HEADER-BOTTOM-LINE-TYPE1: #5175f4;
  --HEADER-BOTTOM-LINE-TYPE2: #eaeefe;
  --HEADER-FONT-COLOR: #41edff;
  --HEADER-TAB-BORDER: 4px;
  --HEADER-TAB-BORDER-COLOR: #41edff;
  --LINER-START: rgba(234, 238, 254, 0);
  --LINER-STOP: rgba(234, 238, 254, 0.2);
  --QC-HP-FONT-SIZE: 14px;
  --COLOR-QC-HP-GLOBALBG: #fff;
  --COLOR-QC-HP-LABEL: #000;
  --WEIGHT-QC-HP-LABEL: normal;
  --COLOR-QC-HP-TIPS: #666;
  --WEIGHT-QC-HP-TIPS: normal;
  --COLOR-QC-HP-INPUT-TEXT: #2d5afa;
  --WEIGHT-QC-HP-INPUT-TEXT: normal;
  --COLOR-QC-HP-INPUT-UNDERLINE: #666;
  --COLOR-QC-HP-INPUT-BG: #fff;
  --COLOR-QC-HP-INPUT-BG-QCTYPE: #f3f5ff;
  --COLOR-QC-HP-FOCUS-TEXT: #2d5afa;
  --WEIGHT-QC-HP-FOCUS-TEXT: normal;
  --COLOR-QC-HP-FOCUS-BORDER: #2d5afa;
  --COLOR-QC-HP-FOCUS-BG: #fff;
  --COLOR-QC-HP-FOCUS-BORDER-QCTYPE: #fff;
  --COLOR-QC-HP-FOCUS-BG-QCTYPE: #d5defe;
  --COLOR-QC-HP-TABLE-HEADER: #e9f0fa;
  --COLOR-QC-HP-TABLE-CURRENT: #eaeefe;
}
[v-cloak] {
  display: none;
}

.el-link.el-link--primary {
  color: var(--COLOR-NORMAL);
}

.el-link.el-link--primary:hover {
  color: var(--COLOR-HOVER);
}

.el-link.el-link--primary.is-disabled {
  color: var(--COLOR-HOVER);
}

.clinical-note-tabs {
  .el-tabs__header {
    height: 46px;
    background-color: var(--COLOR-ACTIVE-BG);
    margin-bottom: 10px;
    border: none;
    position: relative;

    .el-tabs__nav {
      border: none !important;
      margin-top: 6px;

      &-prev,
      &-next {
        display: flex;
        align-items: center;
        height: 100%;
      }
    }

    .el-tabs__item {
      padding: 0 !important;
      color: #000;
      font-weight: normal;
      text-align: center;
      line-height: 42px;
      cursor: pointer;
      margin-left: 6px;
      background-color: var(--COLOR-ACTIVE-BG);
      border: 1px solid rgba(182, 196, 221, 0.38);
      border-radius: 4px 12px 0 0;
      border-bottom: none;
      position: relative;
      width: 100px;
      height: 38px;

      &:first-child {
        border-left: none;
        margin-left: 0;
      }

      &:after {
        content: '';
        top: 18px;
        right: -22px;
        width: 40px;
        height: 15px;
        position: absolute;
        border-top: 1px solid rgba(182, 196, 221, 0.38);
        background-color: var(--COLOR-ACTIVE-BG);
        -webkit-transform: rotate(61deg);
        transform: rotate(61deg);
      }
    }

    .is-active {
      background: white;
      color: var(--COLOR-NORMAL);
      z-index: 9999;
      height: 46px;
      line-height: 55px;
      margin-top: -6px;

      &:after {
        background: white;
        height: 17px;
        width: 47px;
        right: -25px;
      }
    }
  }

  .el-tabs__content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 46px);
  }

  .el-tab-pane {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.inpatient-top-search {
  position: relative;
  background: #fff;
  border-radius: 4px;
  margin: 6px;
  padding: 0 20px;

  .el-tabs__item {
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    color: #000;

    &.is-active {
      color: var(--COLOR-NORMAL);
      font-weight: bolder;
    }
  }

  .el-tabs__nav-wrap::after {
    height: 1px;
  }

  .el-form-item__label,
  .el-checkbox__label {
    font-size: 16px;
    color: #000;
  }

  .el-form--inline .el-form-item {
    margin-right: 30px;
  }

  .refresh-btn {
    position: absolute;
    right: 20px;
    top: 4px;
    font-size: 16px;
    color: var(--COLOR-NORMAL);
    z-index: 99;
  }
}

.inpatient-main-table {
  position: relative;
  background: #fff;
  border-radius: 4px;
  overflow-y: auto;
}

.public-table-pagination-wraper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .table-section {
    flex: 1 1 auto;
    overflow: auto;

    .el-table {
      width: 100%;
    }
  }
}

.search-table-section {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  .inpatient-top-search {
    margin: 0 0 10px 0;
    padding-top: 18px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .inpatient-main-table {
    background: #fff;
    border-radius: 4px;
    flex: 1;
    padding: 12px;
  }
}

.pub-auxiliary-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

header.pub-auxiliary-header {
  font-size: 16px;
  color: #000;
  padding-left: 12px;
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #d7dbea;
}

.pub-auxiliary-content {
  flex: 1;
  padding: 0 8px 8px;
  overflow: auto;
}

footer.pub-auxiliary-footer {
  border-top: 1px solid #d7dbea;
  padding: 8px;
  text-align: center;

  &.auxiliary-footer-flex {
    display: flex;
    justify-content: space-between;
  }
}

//左侧树与时间轴切换样式
.inpatient-emr-navigate-panel-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;

  .unfinished-clinicalnote-panel {
    margin-bottom: 8px;
  }
}

.inpatient-emr-navigate-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 auto;
  height: calc(100% - 244px - 188px);
  width: 100%;
  background-color: white;
  border-radius: 4px;

  .inpatient-emr-navigate-panel-header {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    height: 48px;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    padding: 0 16px;
    font-size: 16px;
    align-items: center;
    border-bottom: 1px solid #bababa;

    &:first-child {
      border-radius: 4px 4px 0px 0px;
    }

    .panel-header-left {
      border-left: 4px solid var(--COLOR-NORMAL);
      padding: 0 0 0 8px;
      height: 16px;
      line-height: 14px;
    }

    .panel-header-right {
      display: flex;

      .MedicalRecordSearch {
        margin-right: 4px;
      }
    }
  }

  .inpatient-emr-navigate-panel-body {
    position: relative;
    background-color: white;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .inpatient-emr-navigate-panel-footer {
    flex: 0 0 auto;
    border-top: 1px solid #d7dbea;
    text-align: right;
    height: 45px;
    padding: 8px;
  }

  .el-tree.emr-tree {
    color: black;
    font-size: 16px;
    background-color: transparent;

    .el-tree-node {
      &:focus {
        &.is-focusable {
          background-color: var(--COLOR-ACTIVE-BG);
        }
      }

      .el-tree-node:focus > .el-tree-node__content {
        background-color: var(--COLOR-ACTIVE-BG);
      }

      .el-tree-node__content:hover,
      .el-upload-list__item:hover {
        background-color: var(--COLOR-ACTIVE-BG);
      }

      &.is-current {
        .el-tree-node__content {
          background-color: var(--COLOR-ACTIVE-BG);
        }
      }

      .el-tree-node__content {
        height: 32px;

        .custom-tree-node-img {
          &::before {
            background-image: url(../assets/svg/icon_emr.svg);
            background-repeat: no-repeat;
            background-position: center;
            content: '';
            display: inline-block;
            flex: 0 0 auto;
            height: 16px;
            width: 16px;
            margin-right: 6px;
            vertical-align: text-top;
          }
        }

        .custom-tree-node {
          font-size: 16px;
          font-weight: normal;
          display: flex;
          align-items: center;
          padding-right: 12px;
          justify-content: space-between;
          width: calc(100% - 30px);

          img {
            height: 22px;
            width: 22px;
            margin-right: 2px;
          }

          .node-name {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex: 1 1 auto;
            width: calc(100% - 30px);

            .label {
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }

          .node-actions {
            position: absolute;
            right: 4px;
            display: none;
            flex: 0 0 auto;
            width: 18px;

            z-index: 2;
            .el-button.node-action {
              color: #7e89a4;
              font-weight: bold;
              .el-icon-delete {
              }
            }
          }

          &:hover {
            .node-actions {
              display: block;
            }
          }

          &.print-type {
            &::before {
              background-image: url(../assets/svg/icon_emr_print.svg);
            }
          }

          &.unfinish-type {
            &::before {
              background-image: url(../assets/svg/icon_emr_edit.svg);
            }
          }
        }

        .el-tree-node__label {
          font-size: 16px;
          font-weight: normal;

          &::before {
            background-image: url(../assets/svg/icon_emr.svg);
            background-repeat: no-repeat;
            background-position: center;
            content: '';
            display: inline-block;
            height: 16px;
            width: 32px;
            vertical-align: text-top;
          }
        }
      }
    }
  }
}

.emr-list-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .el-timeline {
    padding: 28px 8px 8px 16px;

    .el-timeline-item:last-child {
      padding-bottom: 0;
    }

    .el-timeline-item__tail {
      // border-left: 1px dashed #e4e7ed;
      border-left: none;
      width: 1px;
      height: 75%;
      top: 16px;
      background-image: linear-gradient(to top, #fff 49%, #c2c9df 0%);
      background-size: 11px 7px;
      background-repeat: repeat-y;
      position: absolute;
    }

    .el-timeline-item__node {
      display: none;
    }

    .el-timeline-item__wrapper {
      top: -2px;
      padding-left: 0;
      font-size: 16px;
    }
  }

  .el-timeline-item__content {
    color: #000 !important;
  }

  .MedicalRecordList {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: -14px;

    .node-name {
      position: relative;
      // display: flex;
      justify-content: flex-start;
      align-items: center;
      flex: 0 1 auto;
      width: calc(100% - 30px);
      font-size: 0;
      // padding-top: 2px;

      .label {
        display: inline-block;
        max-width: 100%;
        font-size: 16px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 100%;
        font-size: 16px;
        display: inline-block;
      }
    }

    .ligature {
      height: 40px;
      width: 6px;
      border: 1px solid #303133;
      border-left: none;
      position: absolute;
      top: 12px;
      display: inline-block;
      margin-left: 4px;
      z-index: 1;
    }

    .node-actions {
      display: none;
      right: -6px;
      position: absolute;

      .el-button.node-action {
        color: #7e89a4;
        font-weight: bold;
      }
    }

    &:hover {
      .node-actions {
        display: block;
      }
    }
  }

  .MedicalRecordListActivate {
    color: var(--COLOR-NORMAL);
    background-color: var(--COLOR-ACTIVE-BG);
  }

  // .cardActivate {
  //   .cardContent {
  //     color: #ff8c00;
  //   }
  // }
}

.panel-header-tab-actions.el-radio-group {
  .el-radio-button {
    .el-radio-button__inner {
      color: rgba(0, 0, 0, 0);
      padding: 7px 0;

      background-repeat: no-repeat;
      background-position: center;
    }

    &.tab-action-list .el-radio-button__inner {
      background-image: url(../assets/svg/icon_filter_timeline.svg);
    }

    &.tab-action-tree .el-radio-button__inner {
      background-image: url(../assets/svg/icon_filter_tree.svg);
    }

    &.tab-action-list.is-active .el-radio-button__inner {
      background-image: url(../assets/svg/icon_filter_timeline_active.svg);
      background-color: var(--COLOR-NORMAL);
    }

    &.tab-action-tree.is-active .el-radio-button__inner {
      background-image: url(../assets/svg/icon_filter_tree_active.svg);
      background-color: var(--COLOR-NORMAL);
    }
  }

  .el-radio-button:first-child .el-radio-button__inner {
    border-radius: 2px 0 0 2px;
  }

  .el-radio-button:last-child .el-radio-button__inner {
    border-radius: 0 2px 2px 0;
  }
}

.el-radio-button:first-child .el-radio-button__inner {
  border-left-color: var(--COLOR-NORMAL);
}

.el-radio-group {
  label {
    .el-radio-button__inner {
      border-color: var(--COLOR-NORMAL);
      color: var(--COLOR-NORMAL);
    }

    &.is-active {
      .el-radio-button__inner {
        background: var(--COLOR-NORMAL);
        color: #fff;
      }
    }
  }
}

//左侧筛选
.MedicalRecordSearch {
  position: relative;

  .searchBox {
    cursor: pointer;

    .searchIcon {
      width: 32px;
      height: 32px;
      display: flex;
      font-size: 16px;
      justify-content: center;
      align-items: center;
      background: #ffffff;
      border: 1px solid #bababa;
      border-radius: 4px;
    }

    .searchContent {
      width: 222px;
      //display: flex;
      display: none;
      align-items: center;

      .el-tag {
        color: #000000;
        margin-left: 4px;
        max-width: 82px;
        padding-right: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;

        .el-tag__close {
          position: absolute;
          right: 0;
          top: 3px;
        }

        div {
          width: 60px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    & .el-tag:nth-child(3) {
      div {
        text-overflow: initial;
        width: 20px;
      }
    }
  }

  .allContent {
    position: absolute;
    padding: 8px 0 56px 16px;
    background: #ffffff;
    left: 0px;
    top: 34px;
    z-index: 10;
    width: 456px;
    height: 362px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);

    .caseTitleList {
      position: relative;
      height: 100%;
      overflow-y: auto;

      .caseTitleItem {
        margin-left: 16px;
        padding-left: 8px;
        border-left: 4px solid var(--COLOR-NORMAL);
        font-size: 16px;
        line-height: 16px;
        color: #000;
        margin: 8px 0 16px;
      }

      .caseList {
        display: flex;
        flex-wrap: wrap;

        li {
          background: var(--COLOR-ACTIVE-BG);
          border-radius: 4px;
          width: 94px;
          height: 32px;
          line-height: 32px;
          font-family: PingFangSC-Regular;
          font-size: 16px;
          color: #000;
          letter-spacing: 0;
          text-align: center;
          cursor: pointer;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding: 0 8px;
          margin: 0 12px 8px 0;
        }

        .liActivate {
          background: var(--COLOR-ACTIVE-BG);
          border: 1px solid var(--COLOR-NORMAL);
          color: var(--COLOR-NORMAL);
        }
      }
    }

    .operation {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background: #fff;
      text-align: right;
      padding: 8px;

      .el-button {
        height: 32px;
        width: 62px;
      }
    }
  }
}
